<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read File</title>
</head>
<body>

    <h1>{{ filename }}</h1>

    <table>
      <thead>
        <tr>
          {% for column in data[0].keys() %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            {% for value in row.values() %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ url_for('admin_panel') }}">Back to Admin Panel</a>

</body>
</html>
